<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your App</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

    <!-- Hamburger Icon Button -->
    <button id="menuToggle" class="p-4 focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
    </button>

    <!-- Sidebar Menu -->
    <div id="sidebarMenu" class="fixed z-40 left-0 top-0 w-64 h-full bg-white transform -translate-x-full transition-transform duration-300 ease-in-out">
        <!-- Logo at the top -->
        <div class="bg-transparent p-4 pt-14 pb-10">
            <img src="{{ url_for('static', filename='images/logo1 stacked right overlap.png') }}" alt="Logo" class="block mx-auto" style="max-width:100%; height:auto;">
        </div>
        <!-- Sidebar content with icons -->
        <a href="/education" class="flex items-center p-4 text-2xl text-gray-700 place-content-center hover:bg-gray-100">
            <i class="fa-solid fa-graduation-cap mr-4"></i>Education
        </a>
        <a href="/resources" class="flex items-center p-4 text-2xl text-gray-700 place-content-center hover:bg-gray-100">
            <i class="fa-solid fa-building-circle-arrow-right mr-4"></i>Resources
        </a>
    </div>

    <!-- Overlay -->
    <div id="menuOverlay" class="fixed inset-0 bg-black opacity-0 pointer-events-none transition-opacity duration-300 ease-in-out"></div>

    <div class="container mx-auto p-4">
        {% block content %}{% endblock %}
    </div>

    <script>
        const menuToggle = document.getElementById('menuToggle');
        const sidebarMenu = document.getElementById('sidebarMenu');
        const menuOverlay = document.getElementById('menuOverlay');

        menuToggle.addEventListener('click', function() {
            sidebarMenu.classList.toggle('-translate-x-full');
            menuOverlay.classList.toggle('pointer-events-none');
            menuOverlay.classList.add('opacity-50');
        });

        menuOverlay.addEventListener('click', function() {
            sidebarMenu.classList.add('-translate-x-full');
            menuOverlay.classList.add('pointer-events-none');
            menuOverlay.classList.toggle('opacity-50');
        });

        window.onload = function() {
            let dropdowns = document.querySelectorAll('.dropdown');
            let dropdownOverlay = document.getElementById('dropdownOverlay');

            for (let i = 0; i < dropdowns.length; i++) {
                let dropdown = dropdowns[i];
                dropdown.querySelector('.dropbtn').addEventListener('click', function(event) {
                    let activeDropdown = document.querySelector('.dropdown-content:not(.hidden)');
                    if (dropdown.querySelector('.dropdown-content').classList.contains('block')) {
                        dropdownOverlay.classList.add('pointer-events-none');
                        dropdownOverlay.classList.remove('opacity-25');
                        dropdown.querySelector('.dropdown-content').classList.add('hidden');
                        dropdown.querySelector('.dropdown-content').classList.remove('block');
                    } else {
                        if (activeDropdown != null && activeDropdown != dropdown.querySelector('.dropdown-content')) {
                            activeDropdown.classList.add('hidden');
                            activeDropdown.classList.remove('block');
                        }
                        dropdownOverlay.classList.remove('pointer-events-none');
                        dropdownOverlay.classList.add('opacity-25');
                        dropdown.querySelector('.dropdown-content').classList.remove('hidden');
                        dropdown.querySelector('.dropdown-content').classList.add('block');
                    }
                    event.stopPropagation();
                });
            }

            dropdownOverlay.addEventListener('click', function() {
                dropdownOverlay.classList.add('pointer-events-none');
                dropdownOverlay.classList.remove('opacity-25');
                dropdowns.forEach(function(dropdown) {
                    dropdown.querySelector('.dropdown-content').classList.add('hidden');
                    dropdown.querySelector('.dropdown-content').classList.remove('block');
                });
            });
        };
    </script>

</body>
</html>
